.principal-container {
  width: 100%;
  height: 150%;
  background: #100E1D;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.principal-container > h1 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #E7E7EB;
  padding: 30px 130px 10px 25px;
  height: 60px;
}

.cards-container{
  display: contents;
}

.only-card {
  width: 328px;
  height:min-content;
  background: #1E213A;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px 0;
}

.only-card-low {
  width: 328px;
  height:min-content;
  background: #1E213A;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px 0;
}

 p, h3{
  display: flex;
  justify-content: center;
}



.dato1 > p {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #E7E7EB;
}

.dato2{
  display: flex;
  align-items: center;
}

.dato2 > h3{
  color: #E7E7EB;
  font-family: Raleway;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

.datoP{
  height: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #E7E7EB;
}

.dato2 > p{
  height: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #E7E7EB;
}

.dato3 > p {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #E7E7EB;
  
}

@media screen and (min-width: 1280px) {

    .principal-container {
      width: 100%;
      height: 63%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .principal-container > h1 {
      display: flex;
      padding: 90px 420px 20px 0;
      justify-content: center;
      align-items: center;
      height: 26px;
    }
    .cards-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 340px;
      gap: 30px;
      width: 650px;
    }
    .only-card{
      display: flex;
      width: 310px;
      height: 175px;
    }
    .only-card-low{
      width: 310px;
      height: 140px;
      gap: 0;
    }
    .dato2 > h3 {
      font-size: 44px;
    }
    .dato2 > p {
      font-size: 25px;
    }
}