.container-principal{
    background-color:#1E213A;
     width: 100%;
     height: 150%;
     /* padding: 15px; */
}

.superior-section {
    padding: 0 10px;
    height: 10%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.search-btn{
    width: 165px;
    height: 40px;
    background-color: #6E707A;
    box-shadow: 0px 0px 8px 0px #151520;
}

.search-btn > button {
    border-style: none;
    background-color: #6E707A;
    color: #eeeeee;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.my_location_container{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #6E707A;
    color: #eeeeee;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 0px #151520;
}

span.material-symbols-outlined.my-location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-superior-section{
    width: 100%;
    height: 30%;
    
}

.background{
    background-image: url(/cloud.png);
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-position: center center;
    opacity: 0.1;
    position: relative;
}

.clima-grafic{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.clima-grafic > img {
    width: 150px;
    height: 174px;
    position: absolute;
    bottom: 270px;

}

.mid-inferior-section{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grados-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64%;
    height: 70%;
}

.grados-container > h1{
    display: flex;
    align-items: center;
    font-weight: 500;
    color: white;
    font-size: 150px;
}

.grados-container > p {
    display: flex;
    align-items: center;
    color: #868998;
    font-size: 50px;
    font-weight: 500;
    
}

.snower{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snower > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 36px;
    color: #868998;
}

.inferior-section {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.date {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.today{
    width: 50px;
    color: #6E707A;
    display: flex;
    align-items: center;
}
.all-date{
    width: 70px;
    color: #6E707A;
    display: flex;
    align-items: center;
}

.location-on{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

span.material-symbols-outlined.location-on {
    width: 25px;
    height: 100%;
    color: #6E707A;
    
}

.location-on > p {
    color: #6E707A;
    width: 70px;
    
}

@media screen and (min-width: 768px) {
    .container-principal{
      width: 25%;
      height: 100%;
    }
    .clima-grafic > img {
        bottom: 270px;
    }
    .mid-superior-section{
        width: 100%;
        height: 40%;
        
    }
    .mid-inferior-section{
        height: 35%;
    }
    .grados-container{
        
    }
    .grados-container > h1 {
        font-size: 100px;
        width: 100px;
        height: 100px;
    }
    .grados-container > p {
        width: 50px;
    }
}