@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

footer{
  background: #100E1D;
  height: 7%;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.div-footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 17% 0 0;
}

.p1 {
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  justify-content: flex-end;
  color: #A09BF1;
  width: 140px;
}

.p2 {
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  color: #A09BF1;
}


.div-footer> h3 {
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  color: #A09BF1;
  width: 64px;

}

@media screen and (min-width: 1280px) {

  .principal{
    display: flex;
  
  }
  .cards-div{
    width: 70%;
    height: 140%;
  }
}

